<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.navideck.gesturedeck_android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <!--    <application android:name=".globalActivity.GlobalApplication"/>-->
    <uses-sdk
        android:minSdkVersion="21"
        tools:overrideLibrary="jp.wasabeef.blurry" />

</manifest>